@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
    :root {
        font-family: 'Inter', system-ui, sans-serif;
        line-height: 1.6;
        font-weight: 400;
        color: #0f172a; /* Deep Slate */
        background-color: #f8fafc; /* Soft Slate */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    body {
        margin: 0;
        min-width: 320px;
        min-height: 100vh;
    }
}